.navbar {
    padding: 10px 115px 15px 115px;
    line-height: 1.5;
    margin-bottom: 0;
    background-color: #908f8f;
    -webkit-box-shadow: 0px 11px 17px -4px #908f8f;
    -moz-box-shadow: 0px 11px 17px -4px #908f8f;
    box-shadow: 0px 11px 17px -4px #908f8f;
}